@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(305.47deg, #E14551 46.87%, #FF75B7 129.51%);
}

.hero-laptop {
  filter: drop-shadow(0px 52.83px 73.55px rgba(106, 0, 8, 0.21));
  width: 2px !important;
}